body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
    color: #434455;
    background-color: #FFFFFF;
}

h1{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 2%;
    max-width: 496px;
}

h2{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1.11;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

a{
    font-family: "Roboto", sans-serif;
    font-weight: regular;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 4%;
    font-style: normal;
    margin-right: 76px;
}

li{
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
}

img{
    display: block;
}

.anamenu{
    background-color: #ffffff;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.logo-web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    margin-right: 76px;
}

.logo-studio {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    gap: 40px;
}

.header-list{
    padding: 24px 0;
}

.menu-li{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
    display: block;
    position: relative;
    text-decoration: none;
    font-weight: 500;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-li::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.menu-li:hover {
    color: #404BBF;
}

.menu-li:focus {
    color: #404BBF;
}

.contact-list{
    display: flex;
    gap: 40px;
}

.address{
    font-style: normal;
}
.address-li{
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-li:hover{
    color: #404BBF;
}
.address-li:focus{
    color: #404BBF;
}

.studio, .portfolio, .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

menu:active {
    text-decoration: underline;
    text-decoration-color: #404BBF;
    color: #404BBF;
}

.sec1-container{
    padding: 188px 0;
}

.slider{
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(/images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 188px 0;
    max-width: 1440px;
    background-position: center;
}

.slider-title{
    max-width: 496px;
    margin: 0 auto 48px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover{
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.our-mission{
    padding: 120px 0;
}

.sec2item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;

}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.sec2-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    padding-left: 0;
}

.sec2-list-item{
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
}

.sec2item-container{
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    position: relative;
}

.sec2icon{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mis{
    font-weight: 500;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.mis-text{
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team h2 {
    text-align: center;
}
.our-team{
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.sec3-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;
    gap: 24px;
    padding-left: 0;
    justify-content: center;
}

.team-card{
    background-color: #FFFFFF;
    text-align: center;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08)
}

.team-card-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team-card-list{
    width: 40px !important;
    height: 40px;
}

.team-card-item {
    width: 100%;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-card-item:hover{
    background-color: #404bbf;
}

.team-card-item:focus {
    background-color: #404bbf;
}

.team-card-hero{
    padding: 32px 0;
    width: 264px;
}

.team li{
    background-color: #FFFFFF;
    width: fit-content;
}

.card{
    font-weight: 500;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.card-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-card-icon{
    width: 16px;
    height: 16px;
    fill: #F4F4FD;
}

.our-portfolio{
    padding: 120px 0;
}

.ourportfolio-h2{
    margin-bottom: 72px;
}

.sec4-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    padding-left: 0;
}

.sec4-list-item{
    background-color: #ffffff;
    flex-basis: calc((100% - 72px) / 4);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.sec4-list-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.sec4-list-item:hover .portfolio-info{
    transform: translateY(0);
}

.portfolio-img-box{
    position: relative;
    overflow: hidden;
}

.portfolio-info{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)

}

.sec4-list-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.our-portfolio-text{
    letter-spacing: 0.02em;
}

.our-portfolio-h2{
    text-align: center;
    margin-bottom: 72px;
}

.footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container{
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.logo-web{
    display: inline-block;
    margin-bottom: 16px;
}

.logo-studio-footer{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-social-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list{
    display: flex;
    gap: 16px;
}

.footer-social-list-item{
    width: 40px;
    height: 40px;
}

.footer-social-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover{
    background-color: #31d0aa;
}

.footer-social-link:focus{
    background-color: #31d0aa;
}

.footer-social-svg{
    fill: #F4F4FD;
}